/advance python
/ch 11 inheritance
/ch 2 variables
/ch 3 strings
/ch 4 lists
/ch 5 dictionary
/ch 6 conditional statements
/ch 7 loops
/ch 8 FUNCTION AND RECURSIONS
/ch 9 filei
/ch10 oops.py
/coursera
/pps book questyion.py
/snake waer gun game.py
/text to speech.py